---

import MainLayout from '../layouts/MainLayout.astro';
import BackButton from '../components/BackButton.astro';
---

<MainLayout seo={{ title: "Bookmarks" }}>
    <section class="mx-auto max-w-[740px] px-2 md:px-4 py-10">
        <BackButton/>
        <h1 class="font-serif relative inline-block text-xl md:text-3xl font-bold text-black mt-8">
            Bookmarks / Today I Learned
        </h1>
        <p class="text-sm md:text-base font-serif text-gray-600 pt-2 pb-4">
            This page is a bookmarks or something I learned.
            The goal is to be a public archive of things I find interesting and useful whether it be an article,
            random thoughts, videos, literally anything.
        </p>
    </section>
</MainLayout>
