---

import MainLayout from "../layouts/MainLayout.astro";

---

<MainLayout seo={{ title: "Home" }}>
    <main class="mx-auto max-w-[920px] px-2 md:px-4 py-10">
        <h1>Seno Rama Dhani</h1>
    </main>
</MainLayout>